@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
*{
    box-sizing: border-box;
}
body{
    background: url("Image/bg.jpg") no-repeat;
	background-size: cover;
    font-family:  'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.logo{
	margin: 0 auto;
	display: block;
}
.btn-sign
{
	width: 180px;
	height: 60px;
	border-radius: 8px;
	background-color: white;
	color: black;
	float: left;
	margin-right: 30px;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	box-sizing: border-box;
	font-size: 1.2em;
}
.active-btn
{
	background-color: white;
	color: #ff9f0d;
	border: none;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, .3);
    overflow: hidden;
    max-width: 100%;
	width: 500px;
}
.header{
    padding: 20px 40px;
	margin-bottom: 40px;
}
.form{
	padding: 30px 40px;
}
.form-control{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control label{
	display: inline-block;
	margin-bottom: 5px;
}
.form-control input{
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
.form-control input:focus{
	outline: none;
	border-color: #777;
}

.form-control span{
	color: red;
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 14px; 
}

.form-control span i{
	color: #2ecc71;
	color: seagreen;
	position: absolute;
	bottom: 5px;
}

.form button{
	background-color: aliceblue;
	border: none;
	width: 100%;
	color:#ff9f0d;
	font-size: 1em;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	cursor: pointer;
}
.form button:hover{
	color:#fff;
	background-color: #ff9f0d;
}
.signupForm{
	display: none;
}
#submit-error{
	color: red;
}








































